.forgot-2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: fit-content;
    margin: auto;
    text-align: center;
}
.forgot-2 > div:first-child{
    font-family: var(--theme-font-2);
    font-size: 22px;
    color: var(--theme-color);
}

.forgot-2 .second-section{
    font-family: var(--theme-font);
}

.forgot-2 > div > div:last-child{
    margin-top: 20px;
}
.forgot-2 > div > div:last-child .form{
    border: 0;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 0;
    width: 90%;
    font-size: 16px;
    outline: none;
    padding: 3px;
    font-family: var(--theme-font);
}
.forgot-2 .recover-box{
    margin-top: 20px;
}
.forgot-2 .recover-box button{
    background-color: var(--theme-color);
    font-size: 16px;
    color: #fff;
    width: 40%;
    padding: 8px 10px 8px 10px;
    border: 0;
    border-radius: 5px;
}

.forgot-2 .others{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}
.forgot-2 .others a{
    color: #ff465b;
    display: block;
    padding: 10px 50px 10px 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

@media  screen and (min-width: 768px) {
    .forgot-2{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .forgot-2{
        width: 35%;
    }
}