.password-2 > div:first-child h2{
    color: var(--theme-color);
    font-size: 30px;
}
.password-2 > div:last-child{
    margin-top: 35px!important;
}
.password .form-div > div{
    margin: 20px 0 20px 0;
}
.password .form-div > div:first-child{
    border-bottom: 2px solid red;
}
.password .form-div > div:first-child span{
    cursor: pointer;
}
.password .form-div > div:last-child{
    border-bottom: 2px solid #f1f1f1;
}
.password-2 .form-div > div .form{
    border-bottom: 0!important;
    width: 85%!important;
}
.password-2 .form-div > div span{
    font-family: var(--theme-font);
}
.password-2 .button-div button{
    border: 1px solid rgba(113, 152, 113, 0.158)!important;
}

@media  screen and (min-width: 768px) {
    .password-2{
        width: 45%;
    }
}

@media screen and (min-width: 992px) {
    .password-2{
        width: 30%;
    }
    .password-2 > div:last-child{
        margin-top: 65px!important;
    }
}