.profilePage{
    margin-top: 20px;
}

.profileHead{
    padding-left: 20px;
}
.profileHead .profileHTML{
    width: 100%;
}
.profileHead .profileSub{
    width: 100%;
    display: flex;
    align-items: top;
}
.profileSub > div:first-child > div{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.profileHead .profileSub > div:first-child img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 5px solid #f5f5f5;
    border-top: 0;
}

/* The loader for the profile picture upload */

.profileSub .content-loader{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    display: none;
}
.profileSub .content-loader > div{
    border: 5px solid #f1f1f1;
    border-left: 5px solid transparent;
}

.profileSub > div{
    flex: 1;
}
.profileSub .self > div{
    background-color: #fff;
    border: 1px solid #f5f5f5;
    width: 50%;
    padding: 4px 0;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
/* For others */

.profileSub .other > div{
    text-align: center;
    font-family: var(--theme-font);
}

.profileSub .other .pinBox img{
    height: 24px;
    width: 24px;
    display: none;
    cursor: pointer;
}
.profileSub .other .pinBox .active{
    display: inline;
}

.profileSub .unlistBox > div{
    background-color: #fff;
    width: 40%;
    margin: auto;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.profileSub .unlistBox .List{
    border: 1px solid dodgerblue;
    color: dodgerblue;
    transition: border 1s linear, color 1s linear;
}
.profileSub .unlistBox .List span{
    color: dodgerblue;
}
.profileSub .unlistBox .Unlist{
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    transition: border 1s linear, color 1s linear;
}
.profileSub .unlistBox .Unlist span{
    color: var(--theme-color);
}
/* END */

.profileSub span, .profileSub a{
    font-family: var(--theme-font);
    font-size: 14px;
    color: #000;
    display: block;
    width: 100%;
}
.profileSub > div:last-child img{
    height: 15px;
    width: 15px;
    margin: auto;
}

.userInfo{
    font-family: var(--theme-font);
}
.userInfoSub > div{
    margin: 3px 0;
}
.userInfoSub > div:first-child{
    font-size: 19px;
}
.userInfoSub > div:nth-child(2){
    color: #000;
}
.userInfoSub > div:nth-child(3){
    color: #444;
    font-size: 15px;
    width: 80%;
}
.userInfoSub > div:nth-child(4){
    color: grey;
    background-color: yellow;
    width: fit-content;
    padding: 3px 15px;
    margin-top: 10px;
}
.userInfoSub .other{
    margin-top: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.userInfoSub .other > div{
    flex: 1;
}
.userInfoSub .other .rate img{
    height: 25px;
    width: 25px;
    margin: 0 2px;
    cursor: pointer;
}

.headerSection{
    margin-top: 20px;
}
.headerSection > div{
    font-family: var(--theme-font-3);
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerSection div > div{
    flex: 1;
    padding: 6px;
    text-align: center;
    color: grey;
    cursor: pointer;
}
.headerSection .active{
    border-bottom: 2px solid grey;
    color: #000;
}
.photosCover{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.photosCover .photosSub{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
}
.photosSub #loadingBackground{
    height: 200px;
    background-color: #f1f1f1;
}
.photosSub > div{
    position: relative;
    width: 47%;
    margin: 0 1.5%;
    text-align: center;
}
.photosSub div .multiple{
    font-family: var(--theme-font);
    position: absolute;
    top: 1%;
    right: 3%;
    color: #f1f1f1;
}
.photosSub .multiple img{
    height: 15px;
    width: 15px;
}
.photosSub img{
    object-fit: cover;
    -o-object-fit: cover;
    height: 200px;
    width: 98%;
    margin: auto;
    border-radius: 10px;
}

.uploadPhotoBox{
    display: none;
}
.uploadPhoto{
    position: fixed;
    bottom: 10%;
    right: 8%;
    height: fit-content;
    width: fit-content;
    margin: auto;
    z-index: 3;
    padding: 13px 16px;
    border-radius: 50px;
    background-color: var(--theme-color);
}
#uploadPhoto{
    height: 25px;
    width: 25px;
}

.viewImageBox{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.viewImageBox .imageControl{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #444;
    margin: auto;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
}
.imageControl .closeImage{
    position: absolute;
    top: 2%;
    right: 3%;
    height: fit-content;
    width: fit-content;
    color: #fff;
    font-family: var(--theme-font);
    font-size: 15px;
}

.viewImageBox .viewImages{
    height: 100vh;
    scroll-snap-align: start;
    white-space: nowrap;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.viewImageBox .viewImages{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.viewImageBox .viewImages::-webkit-scrollbar{
    display: none;
}
.viewImageBox .imageCover{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}
.viewImageBox img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.viewImageBox .imageOptions{
    text-align: center;
    height: 10vh;
    width: 100%;
    scroll-snap-align: start;
}
.imageOptions button{
    background-color: var(--theme-color);
    color: #fff;
    width: 30%;
    border: 0;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: var(--theme-font);
}

@media screen and (min-width: 768px) {
    .profileHead .profileSub{
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
        position: relative;
    }
    .profileHead .profileSub > div{
        text-align: center;
        margin: auto;
    }
    .profileSub .self > div{
        border: 1px solid #f1f1f1;
    }
    .profileHead .profileSub > div:first-child{
        display: inline-block;
        width: fit-content;
        margin: auto;
    }
    .profileHead .profileSub > div:last-child{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: fit-content;
        width: 30%;
        margin: auto;
    }
    .profileHead .profileSub > div:first-child img{
        height: 250px;
        width: 250px;
        border-radius: 0;
        border: 5px solid #f5f5f5;
    }
    .userInfo{
        width: 100%;
        text-align: center;
    }
    .userInfoSub > div:nth-child(3){
        margin: auto;
    }
    .userInfoSub > div:nth-child(4){
        margin: auto;
        margin-top: 5px;
    }

    .photosSub > div{
        width: 30%;
        margin: 2% 1.5%;
    }
    .photosSub img{
        height: 350px;
    }
}

@media screen and (min-width: 992px) {
    .photosSub > div{
        width: 20%;
        margin: 2% 2.5%;
    }

    .viewImageBox .imageControl{
        width: 30%;
    }
    .viewImages img{
        max-width: 100%;
        max-height: 100vh;
    }
}