.ranking{
    width: 100%;
    margin-top: 2%;
    font-family: var(--theme-font);
}

.ranking .ranking-time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}
.ranking .ranking-time > div{
    width: 40%;
    padding: 8px 2px 8px 2px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: grey;
}

.ranking .ranking-time > .active{
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

 @media screen and (max-width: 767px) {
    .ranking .ranking-time > div{
        font-size: 20px;
    }
 }