*{
    box-sizing: content-box;
    font-family: var(--theme-font);
    color: #fff;
}
hr{
    width: 75%;
    height: 1px;
    border: 0;
    background-color: #f1f1f1;
}
body{
    background: linear-gradient(145deg, #444, #000);
}
.config .content-loader{
    background-color: rgba(0, 0, 0, 0.4);
}
.delete-notice{
    bottom: 10%!important;
}
.delete-notice .delete-cover{
    border: 1px solid #444!important;
}

.read{
    margin-bottom: 85px;
}
.read .main{
    margin-top: 10px;
}
.read .photo{
    text-align: center;
}
.read .photo a{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
}
.read .photo img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 5px solid #f1f1f1;
}
.read .post-header{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #f1f1f1;
}
.read .post-content{
    text-align: center;
    font-size: 17px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.read .post-content span{
    line-height: 40px;
}
.read .reaction-box .reaction{
    display: none;
}
.read .reaction-box .active{
    display: block;
    margin: auto;
}
.read .feature button{
    border: 0;
    background-color: #f5f5f5;
    border: 1px solid lightgrey;
    padding: 5px 25px 5px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
}

.read .section{
    margin-top: 20px;
    text-align: center;
}

.read .reaction img{
    height: 20px;
    width: 20px;
}

/* Comment section */
.comment-content{
    margin-top: 10px;
}
.comment-box{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #636161;
}
.comment-details > div {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}
.comment-details > div:first-child{
    width: 10%;
}
.comment-details > div:last-child{
    width: 85%;
    font-size: 14px;
    text-align: left;
}
.comment-details > div:last-child .username{
    font-family: 600;
    color: silver;
    font-size: 13px;
}
.comment-details > div:last-child .user-comment{
    font-weight: 400;
    word-break: break-all;
    word-wrap: break-word;
}
.comment-details .date{
    font-size: 12px;
    color: grey;
}
.comments .comment-content img{
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
.comment-options{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    font-size: 13px;
}
.comment-options > div{
    margin: 0 15px 0 15px;
}
.comment-options > div span{
    color: silver!important;
    cursor: pointer;
}

/* END */

/* comment input */
.read .comment-cover{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: auto;
    width: 100%;
}
.read .cancel-box > div:first-child{
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    text-align: left;
}
.read .cancel-box > div:first-child span{
    color: #fff;
    display: none;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    background-color: #444;
}
.read .comment-holder{
    width: 90%;
    margin: auto;
    background: linear-gradient(145deg, #444, #000);
    border-bottom: 2px solid #f1f1f1;
}
.read .comment-holder > div{
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}
.read .comment-holder > div:first-child{
    width: 80%;
}
.read .comment-holder > div:last-child{
    width: 18%;
    text-align: center;
}
.read .comment-input{
    background-color: transparent;
    width: 90%;
    padding: 10px;
    white-space: wrap;
    word-wrap: break-word;
    border: 0;
    max-height: 15vh;
    outline: none;
    font-family: var(--theme-font);
}

/* Add the placeholder for the div */
[contentEditable=true]:empty:before{
    content: attr(data-placeholder);
}
.read .comment-cover button{
    background-color: transparent;
    font-size: 18px;
    border: 0;
    user-select: none;
}

/* END */

@media screen and (min-width: 768px) {
    .main{
        height: 90vh;
        margin: auto;
        width: 80%;
        overflow-y: auto;
        box-shadow: 4px 4px 10px 4px lightgrey;
        padding: 10px;
        margin-bottom: 20px;
    }
    .read .comment-content{
        width: 70%;
        margin: auto;
    }
    .read .comment-cover > div:first-child{
        width: 60%;
    }
    .read .comment-holder{
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .main{
        width: 50%;
    }
    .read .comment-content{
        width: 45%;
    }
    .read .comment-cover > div:first-child{
        width: 40%;
    }
    .read .comment-holder{
        width: 40%;
    }
}