.notify{
    position: fixed;
    bottom: 2%;
    font-family: 'SourceSansPro', sans-serif;
    color: #fff;
}
.notify .error{
    color: #ff465b;
}
.notify .success{
    color: rgb(20, 210, 20);
}
.notify > div{
    width: fit-content;
    background-color: rgb(7, 7, 57);
    box-shadow: 2px 3px 2px rgb(9, 9, 89);
    padding: 5px 15px;
}
.notiStatus{
    color: #fff;
}