:root{
    --theme-font: "SourceSansPro", sans-serif;
    --theme-font-2: "montserrat", sans-serif;
    --theme-font-3: 'Arial', sans-serif;
    --theme-font-4: Garamond, 'Times New Roman', Times, serif;
    --theme-color: #ff465b;
    --theme-color-1: #FC8290;
}
body{
    margin: 0;
}

.article-content{
    position: relative;
    margin-bottom: 10px;
}

/* Loader for the contents */
.config .content-loader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 2;
}
.config .content-loader > div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 35px;
    height: 35px;
    margin: auto;
    border: 5px solid var(--theme-color);
    border-left: 5px solid transparent;
    border-radius: 50px;
    animation: loader 1s linear infinite;
    z-index: 2;
}

@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



.content{
    margin-top: 2%;
    margin-bottom: 8%;
}
.config-background-blur{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
    font-family: var(--theme-font);
}

.config .config-icon-1{
    height: 25px;
    width: 25px;
    margin: auto;
    vertical-align: middle;
}

.config .config-icon-2{
    height: 20px;
    width: 20px;
    margin: auto;
    vertical-align: middle;
}

/* drop down items */

.config .dropdown-item{
    display: none;
}
.config .dropdown-icon{
    height: 8px!important;
    width: 8px!important;
    vertical-align: middle!important;
    transition: transform 0.3s linear;
}

/* Drop down items ends */

/* Dropdown Animations Starts */

.config .dropdown-host:hover > div > .dropdown-item{
    display: block;
}
.config .dropdown-host:focus > div > .dropdown-item{
    display: block;
}
.config .dropdown-host:hover > div > span .dropdown-icon{
    transform: rotateZ(180deg);
}
.config .dropdown-host:focus > div > span .dropdown-icon{
    transform: rotateZ(180deg);
}

/* Dropdown Animation Ends */

/* Divider */

.config .divider{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.config .divider div span{
    font-family: var(--theme-font);
}
.config .divider > div:first-child{
    flex-grow: 1;
    background-color: #f1f1f1;
    height: 1px;
}
.config .divider > div:last-child{
    flex-grow: 1;
    background-color: #f1f1f1;
    height: 1px;
}
.vertical-divider{
    width: 1px;
    background-color: #000;
}
/* Divider ends */

/* Error message */

.server-error, .error-message{
    color: var(--theme-color);
    font-family: var(--theme-font);
    font-size: 15px;
}

.server-error .error{
    color: var(--theme-color);
}
.server-error .success{
    color: limegreen;
}
.server-error .warning{
    color: orange;
}

/* Error message ends */

/* loader */

.config-loader{
    background-color: transparent;
    height: 35px;
    width: 35px;
    border: 4px solid dodgerblue;
    border-left: 4px solid transparent;
    border-radius: 50px;
    animation: rotate 1.5s linear infinite;
    display: none;
}

@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .config .config-icon-1{
        height: 28px;
        width: 28px;
    }
}

@media screen and (min-width: 768px) {
    .content{
        margin-top: 12%;
    }
    .server-error, .error-message{
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {
    .content{
        margin-top: 9%;
    }
}

/* Delete notice and notification has the highest z-index of 5 */
/* Quick options has the third highest z-index of 4 */