.feature-box{
    background-color: rgba(255, 255, 255, 0.1)!important;
}
.feature-box .feature-adjust{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: lightgreen;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.feature-box .feature-adjust > div:first-child{
    font-size: 18px;
}
.feature-box .feature-adjust > div:first-child a{
    text-decoration: none;
    color: dodgerblue;
}
.feature-box .feature-adjust > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.feature-box .action{
    cursor: pointer;
}
.feature-box .quick-reply{
    border: 1px solid #fff;
    background-color: transparent;
    padding: 15px 25px 15px 25px;
    font-size: 17px;
}
.feature-box .decline{
    color: red;
}
.feature-box .accept{
    color: dodgerblue;
}

.feature-box .feature-adjust > div:nth-child(3){
    margin-top: 20px;
    font-size: 15px;
}

.feature-box .feature-adjust > div:nth-child(4){
    margin-top: 20px;
}
.feature-box .feature-adjust > div:nth-child(4) button{
    background-color: #fff;
    border: 0;
    padding: 3px 15px 3px 15px;
    font-size: 17px;
    color: #000;
}

.feature-box .feature-adjust > div:last-child{
    margin-top: 20px;
}
.feature-box .feature-adjust > div:last-child button{
    display: block;
    width: 85%;
    margin: auto;
    border: 0;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    background-color: #fff;
    color: orange;
    font-size: 17px;
}

@media screen and (max-width: 767px){
    .feature-box .feature-adjust{
        width: 90%;
        padding: 10px;
    }
    .feature-box .feature-adjust > div:first-child{
        font-size: 16px;
    }
    .feature-box .feature-adjust > div:nth-child(3){
        font-size: 14px;
    }
}