.box{
    width: 100%;
}

/* Responsiveness */

.large{
    display: none;
}
.small{
    display: none;
}

/* Responsiveness ends */

.post-controller #postCover{
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-flow: row wrap;
}
.post-body{
    margin: 1.6%;
}
.post-assist{
    position: relative;
    width: 100%;
    background-color: #f9f9f9;
    margin: auto;
    font-family: var(--theme-font);
}
.post-sub .dropdown-segment{
    width: 100%;
}
.post-sub .dropdown-segment .more-icon{
    padding: 10px;
    padding-bottom: 15px;
}
.post-sub .dropdown-segment .more-icon img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

/* Option dropdown starts */

#large-options{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: fit-content;
    width: 70%;
    margin: auto;
    font-size: 14px;
    color: #5e5e5e;
    display: none;
}
#large-options > div{
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(30px);
    border: 1px solid #f1f1f1;
    width: 100%;
    padding: 10px 10px 15px 20px;
}
#large-options img{
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
#large-options a{
    color: #5e5e5e;
    text-decoration: none;
}
#large-options .edit-options{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
#large-options .personnal-options a{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
#large-options .edit-options > div:first-child{
    width: 15%;
}
#large-options .edit-options > div:last-child{
    width: 80%;
}
#large-options .personnal-options a > div:first-child{
    width: 15%;
}
#large-options .personnal-options a > div:last-child{
    width: 80%;
}

/* Option dropdown ends */

.post-sub .content-segment{
    width: 100%;
}
.post-sub .content-segment .picture-segment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-sub .content-segment .picture-segment img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.post-sub .content-segment .info-body{
    margin-top: 30px;
}
.post-sub .content-segment .article-link{
    text-align: center;
    text-decoration: none;
    color: #000;
}
.post-sub .content-segment .article-link:hover{
    text-shadow: 2px 3px 4px #e5e5e5;
}
.post-sub .content-segment .title-segment{
    font-family: var(--theme-font-2);
    color: #000;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    font-weight: 600;
}
.post-sub .content-segment .title-segment span{
    font-size: 20px;
    font-weight: 400;
}
.post-sub .content-segment .brief-segment{
    margin-top: 5px;
    width: 90%;
    margin: auto;
    font-weight: 400;
}
.post-sub .content-segment .category-segment{
    margin-top: 10px;
}
.post-sub .content-segment .category-segment > div{
    border: 0;
    color: #fff;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    padding: 1.5px 3px 3px 3px;
    font-size: 13px;
    font-weight: 700;
    margin: auto;
}

/* Category color */

/* Other category */
.post-sub .content-segment .category-segment > div{
    background-color: #ff465b;
}
/* ther category ends */

.post-sub .content-segment .category-segment .song{
    background-color: rgb(114, 66, 114);
}
.post-sub .content-segment .category-segment .rap{
    background-color: rgb(59, 58, 58);
}
.post-sub .content-segment .category-segment .comedy{
    background-color: orange;
}
.post-sub .content-segment .category-segment .poem{
    background-color: rgb(149, 209, 157);;
}
.post-sub .content-segment .category-segment .story{
    background-color: rgb(9, 115, 221);
}


/* Category color ends */

.post-sub .content-segment .divider-segment hr{
    width: 100%;
    border: 1px solid #f1f1f1;
    height: 2px;
}
.post-sub .content-segment .reaction-segment{
    margin-top: 10px;
    font-size: 15px;
}
.post-sub .content-segment .reaction-segment > div{
    margin: auto;
    text-align: center;
}
.post-sub .content-segment .reaction-segment img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}
.reaction-segment .reaction-box .active{
    display: inline!important;
}
.reaction-segment .reaction-count{
    margin-top: 7px!important;
}

.post-sub .content-segment .other-segment{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    color: grey;
}
.post-sub .content-segment .other-segment img{
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
@media screen and (max-width: 767px) {
    .post-body{
        margin: 0;
    }
    .post-assist{
        width: 100%;
        padding: 6% 0 6% 0;
        background-color: #fff;
        border-bottom: 5px solid #f5f5f5;
        margin: auto;
    }
    .post-sub .dropdown-segment .more-icon{
        margin-left: auto;
        width: fit-content;
        padding-right: 18px;
        padding-bottom: 2px;
    }
    .post-sub .dropdown-segment .more-icon img{
        height: 17px;
        width: 17px;
    }
    .post-sub .content-segment{
        display: flex;
        width: 100%;
    }
    .post-sub .content-segment .info-body{
        margin-top: 0px;
    }
    .post-sub .content-segment .picture-segment{
        width: 20%;
    }
    .post-sub .content-segment .info-body{
        width: 80%;
    }
    .post-sub .content-segment .picture-segment{
        justify-content: space-evenly;
    }
    .post-sub .content-segment .picture-segment img{
        height: 43px;
        width: 43px;
        border-radius: 50px;
    }
    .post-sub .content-segment .article-link{
        text-align: left;
    }
    .post-sub .content-segment .title-segment{
        width: 85%;
        margin: 0;
        margin-right: auto;
        margin-left: 5px;
    }
    .post-sub .content-segment .brief-segment{
        width: 92%;
        margin: 0;
        margin-right: auto;
        margin-left: 5px;
        line-height: 25px;
        font-weight: 400;
        color: #444;
    }
    .post-sub .content-segment .category-segment > div{
        font-size: 14px;
        font-weight: bolder;
    }
    .post-sub .content-segment .divider-segment{
        text-align: left;
        margin-right: auto;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .small{
        display: block;
    }
}
@media screen and (min-width: 768px) {
    /* Responsiveness */

    .large{
        display: block;
    }

    /* Responsiveness ends */
    
    .post-body{
        width: 45%;
        margin-left: 2.3%;
        margin-right: 2.3%;
    }
    .post-assist{
        width: 80%;
        border-radius: 10px;
        padding: 15% 8% 15% 8%;
        box-shadow:4px 4px 10px 4px lightgrey;
        transition: box-shadow 0.2s ease-in-out;
    }
    .post-assist:hover{
        box-shadow:38px 18px 10px 18px silver;
    }
    .post-sub .dropdown-segment{
        background-color: red;
    }
    .post-sub .dropdown-segment .more-icon{
        position: absolute;
        top: -10px;
        right: -10px;
        width: fit-content;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 1px 1px 2px 1px #f1f1f1;
        padding-bottom: 10px;
    }
    .post-sub .dropdown-segment .more-icon:hover{
        box-shadow: 5px 5px 10px 5px silver;
    }
}
@media screen and (min-width: 992px) {
    .post-body{
        width: 40%;
        margin: 4.3%;
    }
    .post-assist{
        width: 75%;
        margin: auto;
    }
    .sm-md{
        display: none;
    }
    /* Toggling the more icon for large screens */

    .post-assist:hover .sm-md{
        display: block;
    }

    /* Toggling ends */

}

@media screen and (min-width: 1100px) {
    .post-body{
        width: 30%;
        margin: 1.6%;
    }
}